.menu-top{
  .search-icon{
    width: 288px;
    .form-search{
      padding-top: 26px;
    }
  }
}
.box-2{
  .tit-note{
    margin-bottom: 16px !important;
  }
  .label-requi:nth-child(1):before{
    content: url("../images/icon-sim.png") !important;
    width: 73px !important;
    height: 46px !important;
  }
  .label-requi:nth-child(3):before{
    content: "";
    background-image: url("../images/icon-noname.png") !important;
    width: 51px !important;
    height: 52px !important;
  }
}