.menu-top{
  .search-icon{
    width: 288px;
    .form-search{
      padding-top: 26px;
    }
  }
}
body{
  position: relative;
}
.success-order{
  padding: 0px 28px;
  position: absolute;
  top: 50%;
  z-index: 1;
  >.body{
    background: #ffffff;
    text-align: center;
    position: relative;
    padding: 80px 28px 50px;
    .close-pup{
      position: absolute;
      top: 40px;
      left: 40px;
    }
    .hea-text{
      font-family: Roboto-Medium;
      font-size: 40px;
      background: #3478f7;
      color: #ffffff;
      border-radius: 100px;
      padding: 30px 0px;
      width: 620px;
      margin: 0 auto;
      text-transform: uppercase;
    }
    .detal{
      font-size: 38px;
      font-family: Roboto-Regular;
      margin: 35px 0px 0px;
    }
  }
  .download{
    background: #f0f0f0;
    font-family: Roboto-Medium;
    font-size: 40px;
    text-align: center;
    padding: 50px 0px;
    a{
      color: #333333;
      &:hover{
        text-decoration: none;
      }
    }
  }
}