.newslist_grid_body .leftcontent{
	float: left;
	width: 430px;
	margin-right: 20px;
}
.newslist_grid_body .firstnews h3 a{
	color: #0d4c8f;
    font-size: 16px;
    font-weight: bold;
}
.newslist_grid_body .rightcontent{
	float: left;
	width: 540px;
}
.newslist_grid_body ul{
	margin: 0 ;
	padding: 0;
	list-style: none;
}
.newslist_grid_body ul li:first-child{
    margin-top: 0;
    padding-top:0;
    border-top: none; 
}
.newslist_grid_body ul li{
	display: block;
    overflow: hidden;
    margin-top: 20px;
    padding-top:20px;
    border-top: 1px solid #E8E8E8;
}
.newslist_grid_body ul li  a img {
    float: left;
    margin-right:  16px ;
    width: 152px;
}
.newslist_grid_body ul h3{
    margin-bottom: 6px;
    margin-top: 0;
}
.newslist_grid_body ul h3 a{
	color: #0d4c8f;
    font-size: 13px;
    font-weight: bold;
}