/*
* 	Owl Carousel Owl Demo Theme 
*	v1.3.3
*/

.owl-theme .owl-controls{
	
	text-align: center;
}

/* Styling Next and Prev buttons */
.owl-pagination {
    position: absolute;
    width: 100%;
    bottom: 22px;
}

.block_slideshow .owl-theme .owl-controls .owl-buttons div{
	color: #FFF;
    position: absolute;
    top: 0px;
    zoom: 1;
    height: 100%;
    width: 61px;
    text-indent: -99999px;
    display: block;
    font-size: 12px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    background: url('../images/next-pre-group.png') no-repeat;
    filter: Alpha(Opacity=50);
    opacity: 0.5;
}

@media only screen and (min-width: 992px){
    .block_slideshow .owl-theme .owl-controls .owl-buttons .owl-prev{
        left: 30px;
        background-position: 7px 50%;
    }
    .block_slideshow .owl-theme .owl-controls .owl-buttons .owl-next{
        right: 30px;
        background-position: -70px 50%;
    }
} 
@media only screen and (max-width: 991px){
    .owl-buttons {
        display: none;
    }
    .owl-pagination{
        bottom: 10px;
    }
    
}                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                               
/* Clickable class fix problem with hover on touch devices */
/* Use it for non-touch hover action */
.owl-theme .owl-controls.clickable .owl-buttons div:hover{
	filter: Alpha(Opacity=100);/*IE7 fix*/
	opacity: 1;
	text-decoration: none;
}

/* Styling Pagination*/

.owl-theme .owl-controls .owl-page{
    display: inline-block;
    zoom: 1;
    border-radius: 20px;
    border:3px solid rgba(158, 149, 150, 0.86);
    margin: 0px 4px;
	*display: inline;/*IE7 life-saver */
}
.owl-theme .owl-controls .owl-page.active{
    border-color: #cccccc !important;
}
.owl-theme .owl-controls .owl-page span{
	display: block;
	width: 12px;
	height: 12px;
	filter: Alpha(Opacity=50);/*IE7 fix*/
	opacity: 0.5;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	background: #ffffff;
}

.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span{
	filter: Alpha(Opacity=100);/*IE7 fix*/
	opacity: 1;
    background-color: #f95a2c;
}

/* If PaginationNumbers is true */

.owl-theme .owl-controls .owl-page span.owl-numbers{
	height: auto;
	width: auto;
	color: #FFF;
	padding: 2px 10px;
	font-size: 12px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
}

/* preloading images */
.owl-item.loading{
	min-height: 150px;
	background: url(../images/AjaxLoader.gif) no-repeat center center
}