#cssmenu {
  width: 282px;
  margin-bottom: 20px;
  background: #ffffff !important
}
#cssmenu > ul > li {
  background: #ffffff; 
}
#cssmenu ul li:hover{
    cursor: pointer;
}

.begin {
    border-bottom: none;
    background: #f0eded url('../images/bg-header.png') repeat-x bottom left;
    padding: 6px 0px;
    cursor: pointer;
    border-left: 2px solid #01469f;
}

#cssmenu > ul > li > span {
  font-size: 13px;
  display: block;
  color: #111111;
  border-left: 2px solid #01469f;
}


#cssmenu > ul > li > span:hover a {
  color: #01469f;
}
#cssmenu > ul > li > span > font {
  display: block;
  border-bottom: 1px solid #EEEEEE;
  padding: 12px 10px;
}
#cssmenu > ul > li > span > font > a {
  color: #3d3d3d;
  font-size: 19px;
  font-family: "MyriadPro-Semibold";
}
#cssmenu > ul > li > a:hover {
  text-decoration: none;
}
#cssmenu > ul > li.begin {
  border-bottom: none;
  background: #00923F;
  padding: 13px 0px;
}

#cssmenu .has-sub.level_1 span font a{
    font-size: 14px;
    font-family: "MyriadPro-Regular";
}


#cssmenu .begin h2 {
  font-size: 24px;
  padding: 0px 10px;
  text-transform: uppercase;
  font-weight: normal;
  color: #01469f;
  font-family: "MyriadPro-Regular";
}
#cssmenu ul li.begin h2 {
  font-size: 24px;
  padding: 0px 10px 0px 50px;
  text-transform: uppercase;
  font-weight: normal;
  color: #ffffff;
  font-family: "MyriadPro-Semibold";
  background: url(../images/pattern.png) no-repeat 13px 4px;
}
#cssmenu > ul > li.has-sub > span{
  background: url(../images/icon_plus.png) 96% center no-repeat;
}

#cssmenu > ul > li.has-sub.active > span{
  background: url(../images/icon_minus.png) 96% center no-repeat;
}
#cssmenu > ul > li.has-sub.active > ul{
  
}
#cssmenu > ul > li.has-sub.active > span a{
  color: #01469f !important;
}
/* Sub menu */
#cssmenu ul ul {
  display: none;
  border-left: 1px solid #CACACA;
}

#cssmenu ul ul ul {
  display: none;
  border-top: 1px solid #EEEEEE;
   border-left:none;
}
#cssmenu ul ul li {
  padding: 0;
  border-bottom: 1px solid #EEEEEE;
  border-top: none;
  background: #ffffff;
}
#cssmenu ul ul li.has-sub > span font{
  background: url(../images/expand.png) 95% center no-repeat;
}
#cssmenu ul ul li.active span font{
  background: url(../images/retractable.png) 95% center no-repeat;
}
#cssmenu ul ul ul li.active span font{
  background: none !important;
}
#cssmenu ul ul ul li span font{
  background: none !important;
}
#cssmenu ul ul li.active > ul{
  display: block;
}
#cssmenu ul ul li.active > span a{
  color: #00923f !important;
  text-decoration: underline;
}
#cssmenu ul ul > span{
  display: block;
}
#cssmenu ul ul span font{
  padding: 10px 10px 10px 25px;
  display: block;
  color: #676767;
  font-size: 13px;
  font-weight: normal;
}
#cssmenu ul ul ul span {
    padding: 0px 10px 0px 25px !important;
    display: block;
    font-size: 13px;
}
#cssmenu ul ul a:before {

}
#cssmenu ul ul a:hover {
  color: #01469f;
}