.menu-top{
  .search-icon{
    width: 288px;
    .form-search{
      padding-top: 26px;
    }
  }
}
.view-all-sims{
  .bg-head{
    background: #efefef;
    border-bottom: 2px solid #d7d7d7;
    padding: 0px 60px;
    display: inline-flex;
    font-size: 36px;
    font-family: Roboto-Regular;
    .title{
      width: 290px;
      margin-bottom: 0px;
      line-height: 112px;
      padding-left: 85px;
      position: relative;
      &:before{
        content: "";
        background-image: url("../../../../templates/mobile/images/icon-fil.png");
        width: 50px;
        height: 50px;
        position: absolute;
        top: 50%;
        margin-top: -25px;
        left: 0px;
      }
    }
    .show-pagination{
      width: 550px;
      line-height: 112px;
      position: relative;
      text-align: right;
      .show-value{
        color: #717171;
        position: relative;
        .value-pagination{
          color: #333333;
        }
        >select{
          border: none;
          background: none;
          width: 170px;
        }
        >img{
          position: absolute;
          top: 50px;
          right: 0px;
        }
      }
      //.options{
      //  position: absolute;
      //  line-height: normal;
      //  top: 100%;
      //  right: 0px;
      //  background: #efefef;
      //  border-radius: 5px;
      //  width: 40%;
      //  padding: 25px;
      //}
    }
  }
  .table-list {
    width: 100%;
    background: #ffffff;
    padding: 0px 28px;
    tr {
      border-bottom: 2px solid #e0e0e0;
      td {
        padding: 30px 0px;
        p {
          margin-bottom: 0px;
        }
      }
    }
    .stt{
      font-family:Roboto-Regular;
      font-size: 32px;
      padding-left: 28px;
    }
    .detail{
      padding-right: 28px;
    }
    .body-i{
      .sim-num{
        font-size: 40px;
        font-family: Roboto-Medium;
      }
      .sim-net,.sim-type,.point,.knot{
        font-family: Roboto-Regular;
        font-size: 36px;
      }
      .price{
        font-size: 40px;
        font-family: Roboto-Medium;
      }
    }
  }
}
.filter-show{
  padding: 0px 28px;
  position: absolute;
  top: 5%;
  z-index: 2;
  width: 960px;
  display: none;
  .body{
    background: #ffffff;
    text-align: center;
    position: relative;
    padding: 50px 0px;
    .header-bor{
      border-bottom: 2px solid #e0e0e0;
      margin-bottom: 32px;
      padding-bottom: 50px;
      text-align: left;
      position: relative;
      .img-close{
        padding-left: 55px;
      }
      .btn-completed{
        position: absolute;
        right: 55px;
        top: -13px;
        font-size: 48px;
        color: #6bcd0a;
        font-family: Roboto-Medium;
      }
    }
  }
  .box-sort-price{
    text-align: left;
    font-family: Roboto-Regular;
    font-size: 44px;
    padding: 0px 55px;
    height: 88px;
    .title-sim-type{
      float: right;
      padding-right: 270px;
    }
    .switch{
      margin-right: 18px;
      position: relative;
      display: inline-block;
      width: 145px;
      height: 65px;
      top: -65px;
      left: 645px;
      margin-bottom: 0px;
      input {
        opacity: 0;
        width: 0;
        height: 0;
      }
      input[type="checkbox"] {
        box-sizing: border-box;
        padding: 0;
      }
      input:checked + .slider:before {
        -webkit-transform: translateX(80px);
        -ms-transform: translateX(80px);
        transform: translateX(80px);
        z-index: 2;
      }
      input:checked + .slider:after {
        background: #3478f7;
        position: absolute;
        content: "";
        border-radius: 50px;
        width: 138px;
        height: 55px;
        left: 5px;
        bottom: 5px;
        -webkit-transition: .4s;
        transition: .4s;
        z-index: 1;
      }
      .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: -3px;
        bottom: 0;
        border-radius: 50px;
        background-color: #999999;
        -webkit-transition: .4s;
        transition: .4s;
        &:before {
          position: absolute;
          content: "";
          border-radius: 50%;
          height: 46px;
          width: 46px;
          left: 10px;
          bottom: 10px;
          background-color: white;
          -webkit-transition: .4s;
          transition: .4s;
        }
      }
    }
  }
  .accordion2{
    text-align: left;
    .title-tog{
      padding: 16px 55px;
      border-top: 2px solid #e0e0e0;
      .btn-link{
        padding: 6px 0px;
        color: #333333;
        font-family: Roboto-Regular;
        font-size: 44px;
        position: relative;
        width: 100%;
        text-align: left;
        &:focus{
          text-decoration: none;
        }
        &:hover{
          text-decoration: none;
        }
      }
      button[aria-expanded='false']:after {
        content: url(../../../../templates/mobile/images/icon_plus.png);
        width: 39px;
        height: 39px;
        position: absolute;
        top: 5px;
        right: 0px;
      }
      button[aria-expanded='true']:after {
        content: url(../../../../templates/mobile/images/icon_x.png);
        width: 26px;
        height: 26px;
        position: absolute;
        top: 5px;
        right: 6.5px;
      }
    }
    .tog-show{
      padding: 40px 95px 0px 95px;
      .item-compare{
        width: 100%;
        margin-right: 0px;
        font-size: 40px;
        font-family: Roboto-Regular;
        padding-left: 0px;
        padding-top: 14px;
        border-bottom: 2px solid #e0e0e0;
        .custom-control-label{
          width: 100%;
          &:before{
            width: 42px;
            height: 42px;
            left: unset;
            right: 0px;
            top: 23px;
            border-radius: 10px;
            background-color: #bebebe;
          }
          &:after{
            width: 42px;
            height: 42px;
            left: unset;
            right: 0px;
            top: 23px;
          }
        }
        &:last-child{
          border-bottom: none;
        }
      }
    }
    .bor-bot{
      border-top: 2px solid  #e0e0e0;
    }
  }
}


.click-to-show{
  background: none;
  border: none;
}
.z-show-tr{
  z-index: 9999;
  width: 100%;
  position: fixed;
  background: #ffffff;
  left: 0px;
  top: 30%;
  //margin-top: -113px;
}
.detail-cart-show{
  position: absolute;
  left: 50%;
  margin-left: -454px;
  bottom: 100px;
  width: 908px;
  .redrect-cart,.div-add-cart,.delete-sim{
    padding: 40px 60px;
    color: #3478f7;
    font-family: Roboto-Medium;
    font-size: 48px;
    height: 140px;
    background: #FFFFFF;
  }
  .redrect-cart{
    border-bottom: 1px solid #e0e0e0;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    span{
      margin-top: 7px;
    }
  }
  .delete-sim{
    color: #e74c3c;
    border-top: 1px solid #e0e0e0;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
  }
  .cancel-cart{
    font-size: 48px;
    color: #e74c3c;
    background: #FFFFFF;
    margin-top: 30px;
    line-height: 145px;
    cursor: pointer;
    font-family: Roboto-Medium;
    text-align: center;
    border-radius: 25px;
  }
}



.delete-cart-ok{
  img{
    width: 300%;
  }   
}