.error-home{
  margin-top: 37px;
  text-align: center;
  .box-alert{
    width: 648px;
    display: flex;
    margin: 0 auto;
    margin-top: 72px;
    margin-bottom: 80px;
    .left{
      width: 75%;
      text-align: left;
      border-right: 1px solid #aeaeae;
      p{
        margin-bottom: 0px;
      }
      p:nth-child(1){
        font-family: Text-Regular;
        font-size: 30px;
        span{
          font-family: Text-Black;
        }
      }
      p:nth-child(2){
        font-size: 27.4px;
        font-family: Text-Light;
        color: #333333;
      }
    }
    .right{
      width: 30%;
      text-align: right;
      margin-top: 3px;
      p{
        margin-bottom: 15px;
        a{
          font-family:Text-Regular;
          font-size: 16px;
          color: #333333;
          &:hover{
            text-decoration: underline;
            color: #3478f7;

          }
        }
      }
      button{
        width: 82%;
        a{
          color: #ffffff;
          font-family: Text-regular;
          text-decoration: none;
        }
      }
    }
  }
}

.fa-angle-left:before {
  content: "";
  margin-right: 4px;
}