.product_menu-default{
	float: left;
	width: 100%;
	margin-bottom: 30px;
	.block_title {
	    font-size: 25px;
	    line-height: 48px;
	    text-transform: uppercase;
	    font-weight: normal;
	    background-color: #d3261e;
	    padding-left: 15px;
	    a{
	    	color: #ffffff;
	    }
	}
	.nav-product-menus{
		border: 1px solid #b3b3b3;
		li{
			@media (max-width: 767px){
			    float: left;
			    width: 50%;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
				a{
					white-space: nowrap;
					overflow: hidden;
					text-overflow: ellipsis;
				}
			}
			@media (max-width: 480px){
			    width: 100%;
			}
	        border-bottom: 1px solid #b3b3b3;
		    position: relative;
		    padding-left: 15px;
		    padding: 9px 0px 9px 16px;
    		.a2_0{
    			position: relative;
    			//padding-left: 42px;
    			i {
				    width: 32px;
				    height: 32px;
				    position: absolute;
				    top: 0;
				    left: 0;
				}
    		}
			a{
				position: relative;
			    display: block;
			    line-height: 30px;
			    color: #666666;
			    font-size: 18px;
			}
			&:hover{
				a{
					color: #d3261e;
				}
			}
			&:last-child{
				border-bottom: none;
			}
			
		}
	}
}