.option_module ul li{
	list-style: none;
	line-height: 24px;
}
.red{
	color: red;		
}
.blue{
	color: #0077C1;		
}
img {
	border: none;
}
hr.sepa{
	border-color: #CCCCCC -moz-use-text-color -moz-use-text-color;
    border-style: solid none none;
    border-width: 1px 0 0;
    color: #CCCCCC;
    margin: 10px 0 10px 103px;
    text-align: center;
    width: 90%;
}
.tr_has_sepa hr.sepa{
   margin: 5px 0;
   border-color: #EEE -moz-use-text-color -moz-use-text-color;
}
#master{
	width:100%;
	background:#6bbcf4;
}
#message_rd{
	font-size:13px;
    border-bottom: 1px solid #dadada;
    border-top: 1px solid #dadada;
    background-color: #eeeeee;
    margin-top: 8px;
    text-align:center;
}
#message_rd .suc,#message_rd .alert,#message_rd .error{
    display: inline-block;
    font-weight: bold;
    height: 34px; line-height: 34px;
    padding-left: 30px;
}
#message_rd .suc{
	color:#2982c8;
	text-align:center;
    background:url(../images/toolbar/msg-suc.png) no-repeat left center;
}
#message_rd .error{
	color:#d54233;
    background:url(../images/toolbar/msg-error.png) no-repeat left center;
}
#message_rd .alert{
	color:#E66D15;
    background:url(../images/toolbar/msg-alert.png) no-repeat left center;
    text-align: center;    
}
.content_left_footer{
	height:4px;
	width:100%;
	float:left;
	background:#FFFFFF;
	margin-top:45px;
}
.content_left_footer_left{
	background:url(../images/border_content_bottom_left.jpg) no-repeat left bottom;
	float:left;
	height:4px;
	width:4px;
}
.content_left_footer_right{
	background:url(../images/border_content_bottom_right.jpg) no-repeat right bottom;
	float:right;
	height:4px;
	width:4px;
}
/*----Khung phai-----*/
#search{
	color:#485663;
	font-size:13px;
}

.catalog-title-content_left .rif{
	background:url(../images/nen_top_left.jpg) no-repeat;
	height:49px;
	width:30px;
	float:left;
}	
.catalog-title-content span{
	float:left;
	width:10px;
	height:27px;
	background:url(../images/signer-catalog-right.jpg) no-repeat center;
}
.catalog-title-content_right{
	float:right;
	background:url(../images/khung_top_right.png) right no-repeat;
	height:49px;
	width:32%;
}
.catalog-title-content_right .action_means{
	height:49px;
	margin:0px 10px;
	float:right;
	text-align:center;
}
.action_means img{
	margin-top:3px;
	border:0px;
}
.action_means a.action_means_text{
	margin-top:3px;
	float:left;
}
.content-right{
	width:99.6%;
	background:#FFFFFF;
	float:left;
	padding-bottom:40px;
}
.admintable{
	font-size:13px;
}
select,textarea{
	font-family:serif;
	font-size:13px;
	color:#485663;
}
.admintable input{
	font-family:serif;
	font-size:13px;
	color:#485663;
}
.tbl_permisson{
	border-collapse:collapse;
}
.tbl_permisson tr{
	border:solid 1px #ccc;
}
.tbl_permisson th{
	border:solid 1px #ccc;
	color:#485663;
}
.tbl_permisson td{
	padding:2px 3px;
	text-align:center;
	margin:2px;
	width:150px;
	border:solid 1px #ccc;
}
.form_body fieldset{
	border: 1px solid #E2E2E2;
    border-radius: 4px 4px 4px 4px;
    padding: 10px;
}
.form_body legend{
	padding: 0px 5px;
	color: #1466A6;
	font-weight: bold;
    margin-left: 12px;
}
.form_body .msg_report{
	border:#000000 solid 1px;
	width:100%;

}
.current{
	color:red;
}
#msg_error{	
	color:#FF0000;
}
tr.row0{
	background-color: #F9F9F9;
}
tr.row1{
	background-color: #EEEEEE;
}
.translate table{
	line-height: 24px;
}
#pr_created_hour,#pr_created_minute{
	width: 70px;
}
.field_tbl{
	border-style: solid;
	border-collapse: collapse;
	border-color: #A0A0A0;
}
.text{
	width: 400px;
}
.redborder,#box-content .form_body .redborder{
	border: 1px solid red;
}
.label_error{
	color: red;
    font-size: 11px;
}
.break_line{
	line-height: 2px;
}
.hide,.hidden{
	display: none;
}

/* Upgrade */
@font-face{
    font-family: "UTM Cafeta";
    src: url("fonts/utm_cafeta/UTM Cafeta.ttf");
    -webkit-font-smoothing: antialiased;
}
body{
    background: url(../images/bg_body.jpg);
	margin: 0;
}

.form_body {
    background: #FFFFFF;
    overflow: auto;
    width: 100%;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
input[type="text"]{
    padding-left: 5px;
}
select{
	font-family: Arial,sans-serif;
    font-size: 12px;
    min-width: 170px;
}
#wrapper{
    padding: 10px 7px 0 10px;
}
#sidebar{
    width: 225px;
}
#sidebar #admin-info{
    background: url(../images/bg_admin_info.png) no-repeat;
    height: 72px;
    padding: 7px 0 0 12px;
    color: #ababab;
    margin-bottom: 7px;
}
#sidebar #admin-info .avatar{
    display: inline-block;
    overflow: hidden;
    height: 60px; width: 60px;
}
#sidebar #admin-info .avatar img{
    height: 60px; min-width: 60px;
}
#sidebar #admin-info .info{
    width: 135px;
    padding-right: 7px;
}
#sidebar #admin-info .lang {
    cursor: pointer;
    height: 40px;
    padding-left: 5px;
    width: 125px;
}
#sidebar #admin-info .lang a {
    margin-right: 20px;
}
#admin-info > div.info.fr > div.lang > a.current {
    padding: 2px 1px 5px;
    border: 4px solid #FFFFFF;
}
#sidebar #admin-info .lang:hover{
    background-position: 110px -18px;
}
#sidebar #admin-info .lang select{
    border: none;
    background: none transparent;
    height: 20px; width: 145px;
}
#sidebar #admin-info .name{
    font-weight: bold; color: #fefefe;
}
#sidebar #admin-info .tool a{
    color: #ababab; text-decoration: none;
}
#sidebar #admin-info .tool a:hover{
    text-decoration: underline;
}
#sidebar #admin-info .tool span{
    padding: 0 3px 0 2px;
}
#menu-bar{
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    overflow: hidden;
    background: url(../images/menu-bar.jpg) left bottom repeat-x;
    padding-bottom: 34px;
    -moz-box-shadow: 0 0px 7px #000;
    -webkit-box-shadow: 0 0px 7px #000;
    box-shadow: 0 0px 7px #000;
}
#menu-bar ul{
    margin: 0; padding: 0;
    list-style: none;
}
#menu-bar ul li{
    display: block;
    margin: 0; padding: 0;
}
#menu-bar ul li.parent > div.bound{
    border: 1px solid #e2e2e2;
    border-bottom: none;
    background: #fff;
}
#menu-bar ul li.parent:last-child{
    border-bottom: 1px solid #e2e2e2;
}
#menu-bar ul li.parent > div.bound a{
    display: block;
    background: url(../images/bg_menu.jpg) left bottom repeat-x;
    border: 1px solid #f8f9f9;
    color: #354049;
}
#menu-bar ul li.parent > div.bound a:hover,
#menu-bar ul li.parent > div.bound a.selected{
    color: #e66d15;
}
#menu-bar ul li.parent > div.bound a span.icon{
    display: block;
    width: 42px; height: 26px;
}
#menu-bar ul li.parent > div.bound a span.icon span{
    display: table-cell;
    width: 42px; height: 26px;
    text-align: center;
    vertical-align: middle;
}
#menu-bar ul li.parent > div.bound a span.name{
    display: block;
    padding: 4px 0;
    font-weight: bold;
    width: 178px;
}
#menu-bar ul.child{
    background: #354049;
    display: none;
}
#menu-bar ul.child li a:hover,
#menu-bar ul.child li a.selected{
    background-color: #252d33;
}
#menu-bar ul.child a{
    display: block;
    color: #fff;
    text-decoration: none;
    padding: 6px 7px 6px 45px !important;
    border: 1px solid #1d1e20;
    border-top: none;
}
#menu-bar li.parent ul ul a{
    padding-left: 55px !important;
}
#menu-author{
	display: none;
    border: 1px solid #e2e2e2;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 0 1px 7px #000;
    -webkit-box-shadow: 0 1px 7px #000;
    box-shadow: 0 1px 7px #000;
    margin-top: 15px;
}
#menu-author .bound{
    font-family: "UTM Cafeta", "Myriad Pro"; font-size: 17px;
    border: 1px solid #fff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background: #fff url(../images/bg_menu.jpg) left bottom repeat-x;
}
#menu-author .bound a{
    display: block;
    width: 109px;
    float: left;
    color: #354049;
    padding: 4px 0;
    border-left: 1px solid #fbfbfb;
    background: url(../images/module/sys-email.png) 8px 10px no-repeat;
    text-shadow: 1px 1px #fafafa;
}
#menu-author .bound a:first-child{
    border-right: 1px solid #d0d0d0;
    border-left: none;
    background: url(../images/module/sys-news.png) 8px 10px no-repeat !important;
}
#menu-author .bound a:hover{
    text-decoration: none;
    color: #e66d15;
}
#menu-author .bound a span{
    padding-left: 35px;
}
#wrap-content{
    float: none;
    padding-left: 237px;
}
#box-content{
    display: block;
    background-color: #fff !important;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    overflow: hidden;
    -moz-box-shadow: 0 3px 7px #000;
    -webkit-box-shadow: 0 3px 7px #000;
    box-shadow: 0 3px 7px #000;
    padding-bottom: 50px;
}
#box-content .content-title{
    border: 1px solid #515e63;
    /*-webkit-border-top-left-radius: 6px; -webkit-border-top-right-radius: 6px; -moz-border-radius-topleft: 6px; -moz-border-radius-topright: 6px; border-top-left-radius: 6px; border-top-right-radius: 6px;*/
}
#box-content .content-title div{
    padding-left: 17px;
    margin-bottom: 2px;
    height: 33px;
    line-height: 33px;
    background-color: grey;
    font-family: "Myriad Pro";
    color: #fff;
    font-size: 20px;
}
.form_head .wrap-toolbar{
	border: 1px solid #c8ced0;
    border-top: none;
    background: url(../images/wrap-toolbar.jpg) left top repeat-x;
    height: 40px;
    z-index: 100;
}
.wrap-toolbar .fr{
    border-left: 1px solid #c8ced0;
}
.wrap-toolbar .toolbar{
	cursor: pointer;
	display: block;
	float: left;
    line-height: 11px;
	height: 40px; min-width: 45px;
    padding: 0 10px;
	font-size: 11px; text-align: center; text-decoration: none !important; white-space: nowrap; color: #171717;
    border-left: 1px solid #fff;
    border-right: 1px solid #c8ced0;
    text-shadow: 1px 1px #f3f3f4;
}
.wrap-toolbar .toolbar span {
	display:block;
	float:none;
	height:25px;
    background-position: center center !important;
}
.wrap-toolbar .toolbar:hover{
    background: url(../images/wrap-toolbar.jpg) left -40px repeat-x;
}
.filter_area{
	font:Arial, Helvetica, sans-serif;
	margin:10px 10px 0px 5px;
	font-size:12px;
    color: #555656;
}
.filter_area table{
	margin: 0; padding: 0;
}
.filter_area table td{
    margin: 0; padding: 0 0 0 5px;
    height: 20px;
    vertical-align: middle;
}
.filter_area input[type="text"],
.form-contents input[type="text"],
.form_body table.admintable input[type="text"],
.form_body input[type="password"]{
    border: 1px solid #7f9db9;
    height: 16px;
}
.filter_area select{
    border: 1px solid #7f9db9;
    height: 21px;
    padding: 1px 1px;
}
.form-contents select,
.form-contents textarea,
.form_body table.admintable select,
.form_body table.admintable textarea{
    border: 1px solid #7f9db9;
}
.filter_area button{
	font-size:12px;
}
.form-contents{
    padding: 15px 10px 0 10px;
    color: #354049;
}
.tbl_form_contents {
	border-collapse:collapse;
	border:1px solid #e2e2e2;
	text-align:center;
    width: 100%;
    margin: 0; padding: 0;
}
.tbl_form_contents thead{
	color:#354049;
}
.tbl_form_contents tr th{
    background-color: #F0F0EE;
}
.tbl_form_contents th{
    border:1px solid #e2e2e2;
    color: #025A8D !important;
}
.tbl_form_contents th,
.tbl_form_contents td{
    padding: 5px;
    vertical-align: middle;
    border:1px solid #e2e2e2;
}
.tbl_form_contents td,
.tbl_form_contents td a{
    color: #025A8D;
}
.tbl_form_contents td.center{
    text-align: center;
}
.tbl_form_contents thead a{
    color:#025A8D;
}
.tbl_form_contents thead img{
	border: none;
    vertical-align: middle;
}
.tbl_form_contents thead .title{
	font-weight:bold;
}
.tbl_form_contents .row1{
	background: #fcfcfc;
}
.tbl_form_contents .row0{
	background: #fff;
}
.tbl_form_contents tr:hover{
    background: #FFFFDD;
}
.tbl_form_contents input[type=text]{
    border: 1px solid #7f9db9;
    height: 16px;
}
.tbl_form_contents textarea,
.tbl_form_contents select{
    border: 1px solid #7f9db9;
}
.content-home{
    padding: 20px 0 0 20px;
}
.content-home .list-module{
    width: 432px;
    border: 1px solid #e8e8e8;
    -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px;
    background-color: #f9f9f9;
    padding: 10px 0;
    margin-right: 30px;
}
.list-module .module-item{
    width: 144px;
    padding: 20px 0 0 0;
    text-align: center;
}
.list-module .module-item .thumb{
    text-align: center;
    display: inline-block;
    height: 52px; width: 52px;
    background: url(../images/bg-module.png) no-repeat transparent;
    -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px;
}
.list-module .module-item .thumb:hover{
    -moz-box-shadow: 0 0 5px #888; -webkit-box-shadow: 0 0 5px#888; box-shadow: 0 0 5px #888;
}
.list-module .module-item .thumb span{
    display: table-cell;
    width: 52px; height: 52px;
    vertical-align: middle;
}
.list-module .module-item .title{
    padding: 7px;
}
.list-module .module-item .title a{
    color: #505050;
}
.home-info .home-main{
    margin-left: 462px;
    padding-right: 20px;
}
.home-info .hi-title{
    color: #354049;
    font-size: 16px;
    background: url(../images/hi-title.jpg) left bottom repeat-x;
    padding-bottom: 7px;
    margin-bottom: 15px;
}
.home-info .home-main table{
    width: 100%;
    margin: 0; padding: 0;
    border-collapse: collapse;
    color: #354049;
}
.home-info .home-main table td{
    border-bottom: 1px solid #e8e8e8;
    padding: 5px 10px 5px 15px;
}
.home-info .home-main table td a{
    color: #3d82ba;
}
.home-info .home-main table td.label{
    width: 250px;
    font-weight: bold;
}
.home-info .home-main table .title{
    background-color: #f4f4f4;
}
.home-info .home-main table tr:last-child td{
    border-bottom: none !important;
}
.form_body tr td.key {
	font-size:12px;
	padding-right:12px;
	text-align:right;
	color:#354049;
	width:150px;
}
.form_body tr td.key,
.form_body tr td.value,
.form_body table.admintable td{
    padding-top: 5px;
    padding-bottom: 5px;
}
.form_body tr td.value .comment{
    color: #e66d15; padding-left: 10px;
}
#footer{
    margin-top: 15px;
    background: #1f2428;
    color: #aaadaf;
    padding: 7px 0 10px 247px;
}
#footer a{
    color: #aaadaf;
}
#footer a.contact-us{
    text-decoration: underline !important;
}
.pagination {
	text-align:center;
	line-height:40px;
	font-weight:bold;
}
.pagination a, 
.pagination font{
	padding:5px;
}
.pagination .title_pagination{
	color:#000;
}
#wrap-content .copyright{
    position: relative;
}
#wrap-content .copyright a{
    display: block;
    position: absolute;
    top: -50px; right: 10px;
}
.params{
	border: 2px solid #E66D15;
	padding: 20px;
}
.help_area{
	position: relative;
    width: 10px;
}
.help{
	background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #CCCCCC;
    bottom: 7px;
    padding: 10px;
    position: absolute;
    right: -30px;
    width: 215px;
    z-index: 100;
}
.value .image-area-single {
  background-color: #FFF;
  border-radius: 3px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.25);
  padding: 10px;
  position: relative;
    display: inline-block;
}
.value  .image-area-single p {
  margin: 0;
  padding: 0;
    overflow: hidden;
      display: inline-block;
}
.value  .image-area-single .del {
  position: absolute;
  top: -10px;
  right: -10px;
}