.download_pdf {
  text-align: right; }
  .download_pdf a {
    display: inline-block;
    margin: 10px;
    border: 1px solid;
    padding: 6px 10px;
    border-radius: 5px; }
    .download_pdf a:hover {
      text-decoration: none; }

.company-bill {
  background: #ffffff;
  padding: 50px 100px 0px; }
  .company-bill .img-logo {
    margin-top: 10px;
    padding-left: 21px; }
  .company-bill .infor-company .title-hea {
    font-family: Text-semibold;
    font-size: 20px; }
  .company-bill .infor-company p {
    font-size: 17px;
    margin-bottom: -8px;
    font-family: Text-regular;
    line-height: 24px; }

.content-bill {
  background: #ffffff;
  padding: 30px 83px 0px; }
  .content-bill .infor-customer, .content-bill .box-total {
    border-top: 2px solid #d8d7d7;
    border-bottom: 3px solid #d8d7d7;
    padding-bottom: 30px;
    margin-bottom: 30px;
    font-size: 17px; }
    .content-bill .infor-customer > p, .content-bill .box-total > p {
      margin-top: 10px;
      margin-bottom: 0px;
      text-align: right; }
    .content-bill .infor-customer table tr td, .content-bill .box-total table tr td {
      line-height: 25px; }
    .content-bill .infor-customer table tr td:nth-child(1), .content-bill .box-total table tr td:nth-child(1) {
      width: 160px !important;
      font-family: Text-regular;
      vertical-align: top;
      padding-right: 2%; }
      .content-bill .infor-customer table tr td:nth-child(1) span, .content-bill .box-total table tr td:nth-child(1) span {
        float: right; }
    .content-bill .infor-customer table tr td:nth-child(2), .content-bill .box-total table tr td:nth-child(2) {
      font-family: Text-semibold-italic; }
  .content-bill .table-order {
    margin-bottom: 30px; }
    .content-bill .table-order table {
      margin-bottom: 0px; }
      .content-bill .table-order table thead {
        background: #3478f7;
        text-align: center;
        font-size: 15px;
        font-family: text-semibold; }
        .content-bill .table-order table thead th {
          border: 1px solid #3478f7; }
          .content-bill .table-order table thead th span {
            padding: 5px 30px;
            width: 100%;
            background: #0253ea;
            color: #ffffff;
            font-family: Text-semibold;
            border-radius: 25px;
            font-weight: normal; }
      .content-bill .table-order table tbody {
        border-left: 1px solid #d8d7d7;
        border-right: 1px solid #d8d7d7; }
        .content-bill .table-order table tbody tr {
          height: 47px; }
          .content-bill .table-order table tbody tr td {
            border-bottom: 1px solid #d8d7d7; }
          .content-bill .table-order table tbody tr td:nth-child(4) {
            text-align: center; }
          .content-bill .table-order table tbody tr td:nth-child(1), .content-bill .table-order table tbody tr td:nth-child(6) {
            font-family: Text-semibold;
            padding-left: 20px; }
          .content-bill .table-order table tbody tr td:nth-child(6) {
            padding-left: 20px; }
          .content-bill .table-order table tbody tr td:nth-child(2), .content-bill .table-order table tbody tr td:nth-child(3), .content-bill .table-order table tbody tr td:nth-child(5) {
            padding-left: 40px; }
  .content-bill .box-total {
    margin-top: 30px;
    padding: 18px 20px 18px 26px;
    background: #f3f3f3;
    border: none; }
    .content-bill .box-total table tr td:nth-child(1) {
      width: 25%; }
  .content-bill .bill-note {
    margin-top: 30px;
    padding-bottom: 10px;
    border-bottom: 3px solid #d8d7d7;
    font-size: 17px; }
    .content-bill .bill-note .top {
      font-family: Text-regular;
      margin-bottom: 5px; }
      .content-bill .bill-note .top span {
        font-family: Text-semibold; }
    .content-bill .bill-note .bottom {
      font-family: Text-Italic; }

.footer-bill {
  background: #ffffff;
  padding: 15px 100px; }
  .footer-bill .title-hea {
    font-family: Text-semibold-Italic;
    margin: 0px 0px 5px;
    font-size: 18px; }
  .footer-bill p {
    font-family: Text-regular;
    line-height: 24px;
    font-size: 16px; }

.footer-bottom, .center_page, .promotion-information, .company-information, .company-contact, .menu-top, #sim_search_wrap, .breadcrumb-link {
  display: none; }

.success-order .download {
  margin-bottom: 0px; }
  .success-order .download a {
    padding-left: 35px;
    position: relative; }
    .success-order .download a:before {
      content: url("../../../../templates/default/images/img_svg/thanh_toan/download.svg");
      width: 24px;
      height: 19px;
      position: absolute;
      left: 0px;
      top: 0px; }
    .success-order .download a:hover {
      color: #3478f7; }
      .success-order .download a:hover:before {
        content: url("../../../../templates/default/images/img_svg/thanh_toan/download_blue.svg"); }

.content-bill .table-default th {
  white-space: nowrap;
  height: 48px; }

/*# sourceMappingURL=bill.css.map */
