*{font-weight: normal;}
.list-sim{
  background: #ffffff;
  padding: 30px;
  text-align: right;
  color: #333333;
  .show-pagination{
    position: relative;
    .options{
      position: absolute;
      right: -15px;
      top: 31px;
      background: #ffffff;
      padding: 10px 10px 8px 10px;
      box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);
      z-index: 1;

      a{
        color: #333333;
        &:hover{
          text-decoration: none;
        }
      }
      .checked{
        color: #3478f7;
      }

      &:after{
        content: '';
        position: absolute;
        transform: rotate(45deg);
        width: 17px;
        height: 15px;
        top: -4px;
        right: 11px;
        z-index: 1;
        background: #ffffff;
      }
      &:before{
        content: '';
        position: absolute;
        transform: rotate(45deg);
        width: 10px;
        height: 10px;
        top: -6px;
        right: 15px;
        z-index: 1;
        box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);
      }
      .option{
        cursor: pointer;
        line-height: 28px;
        font-size: 15px;
        font-family: Text-semibold;
        position: relative;
        text-align: left;
        padding-left: 25px;
        &:hover{
          color: #3478f7;
        }
        a{
          &:after, &:before{
            top: 50%;
            transform: translate( 0px , -50%);
          }
          &.checked{
            &:before{
              border: 4px solid #3478f7;
            }
          }
        }
      }
    }
    .header-list-sim{
      display: flex;
      justify-content: space-between;
      .name-header-ls{
        font-size: 18px;
        text-transform: uppercase;
        font-family: Text-Medium;
        margin-bottom: 0px;
      }
      .show-value{
        cursor: pointer;
      }
    }
  }
  table{
    margin-top: 16px;
    thead{
      tr{
        th{
          font-family: Text-semibold;
          vertical-align: middle;
          padding: 10px 0px;
          text-align: center;
          border-bottom: 1px solid #efefef;
          border-top: 1px solid #efefef;
          .type-number{
            margin-top: 0px;
            padding: 3px 13px 2px 0px;
            font-size: 15px;
            .checkcontainer {
              margin-bottom: 0px;
              color: #333333;
              span{
                background: #999999;
              }
            }
          }
          .border-right{
            border-right: 1px solid #999999 !important;
            position: relative;
            font-size: 14px;
            i{
              margin-left: 10px;
              color: #717171;
              //position: absolute;
              //top: 3px;
              &:before {
                content: url("/templates/default/images/img_svg/sim_theo_nha_mang/bar_menu.svg");
              }
              &.close{
                &:before{
                  content: url("/templates/default/images/img_svg/sim_theo_nha_mang/Menu_close.svg");
                }
              }
            }
            .show-sim-type, .selected-network-sim,.show-sim-price, .show-sim-head{
              position: relative;
              cursor: pointer;
              .options{
                padding: 18px 10px 11px 17px;
                width: 250px;
                z-index: 2;
                font-family: Text-regular;
                .scroll-y{
                  height: 360px !important;
                  .custom-control.custom-checkbox.custom-control-inline.item-compare{
                    float: left;
                    margin-left: 5px;
                    cursor: pointer;
                    width: 100%;
                  }
                }
                position: absolute;
                right: -43px;
                top: 33px;
                background: #ffffff;
                box-shadow: 0px 0px 6px 0 rgba(0, 0, 0, 0.4);
                label{
                  cursor: pointer;
                }
                &:after{
                  content: '';
                  position: absolute;
                  transform: rotate(45deg);
                  width: 15px;
                  height: 15px;
                  top: -6px;
                  right: 40px;
                  z-index: 1;
                  background: #ffffff;
                }
                &:before{
                  content: '';
                  position: absolute;
                  transform: rotate(45deg);
                  width: 10px;
                  height: 10px;
                  top: -7px;
                  right: 42.5px;
                  z-index: 1;
                  box-shadow: 0px 0px 6px 0 rgba(0, 0, 0, 0.4);
                }
                .option{
                  cursor: pointer;
                  .checked{
                    color: #3478f7;
                  }
                }
              }
            }
          }
        }
        th:nth-child(7),th:nth-child(8){
          padding: 14px 16px;
        }

        background: #efefef;
        /* The switch - the box around the slider */
        .switch {
          margin-right: 18px;
          position: relative;
          display: inline-block;
          width: 33px;
          height: 15px;
          top: 3px;
          left: 5px;
          margin-bottom: 0px;
          float: right;
        }
        /* Hide default HTML checkbox */
        .switch input {
          opacity: 0;
          width: 0;
          height: 0;
        }
        /* The slider */
        .slider {
          position: absolute;
          cursor: pointer;
          top: 0;
          left: 0;
          right: -3px;
          bottom: 0;
          background-color: #999999;
          -webkit-transition: .4s;
          transition: .4s;
        }
        .slider:before {
          position: absolute;
          content: "";
          height: 11px;
          width: 11px;
          left: 2px;
          bottom: 2.5px;
          background-color: white;
          -webkit-transition: .4s;
          transition: .4s;
        }
        //input:checked + .slider {
        //  background-color: #2196F3;
        //}
        //input:focus + .slider {
        //  box-shadow: 0 0 1px #2196F3;
        //}
        input:checked + .slider:before {
          -webkit-transform: translateX(21px);
          -ms-transform: translateX(21px);
          transform: translateX(21px);
        }
        /* Rounded sliders */
        .slider.round {
          border-radius: 34px;
        }
        .slider.round:before {
          border-radius: 50%;
        }

      }
    }
    tbody{
      text-align: left;
      font-size: 15px;
      tr{
        border-bottom: 1px solid #d8d7d7;
        color: #333333;
        font-family: Text-regular;
        &:hover{
          td:nth-child(1){
            position: relative;
            &:after{
              content: "";
              background-image: url("../../../../templates/default/images/img_svg/sim_theo_nha_mang/content_dot.svg");
              background-position: center;
              background-repeat: no-repeat;
              display: block;
              position: absolute;
              width: 5px;
              height: 30px;
              top: 50%;
              left: 0px;
              transform: translate(0px , -50%);
            }
          }
          td:nth-child(2){
            color: #3478f7;
          }
        }
        td:nth-child(1){
          font-family: Text-semibold;
          text-align: center;
        }
        td:nth-child(2){
          font-family: Text-bold;
          padding-left: 35px;
        }
        td:nth-child(3){
          padding-left: 37px;
        }
        td:nth-child(4){
          padding-left: 19px;
          text-align: left;
        }
        td:nth-child(5){
          padding-left: 17px;
        }
        td:nth-child(6){
          padding-left: 33px;
        }
        td:nth-child(7){
          padding-left: 0px;
          text-align: center;
        }
        td:nth-child(8){
          text-align: center;
          .img-no-hover{margin-right: 10px; margin-left: 10px;}
        }
      }
      .price-old{
        text-decoration: line-through;
        font-size: 13px;
        margin-bottom: 0px;
      }
      .price-new{
        margin-bottom: 0px;
      }
    }
    .options{
      p{
        margin-bottom: 0px;
      }
    }
  }
}
.tr_has_price_old{
  td{
    padding-top: 5px !important;
    padding-bottom: 5px !important;
  }
}

.list-sim table thead{
  tr {
    background: #efefef;
    border-bottom: 1px solid #efefef !important;
    border-top: 1px solid #efefef !important;
  }
}

.custom-control-label{
  :before {
    position: absolute;
    top: 2px;
    left: -4px;
    display: block;
    width: 1rem;
    height: 1rem;
    pointer-events: none;
    content: "";
    user-select: none;
  }

}

thead tr{
  th{
    padding: 10px 0px 10px 0px !important;
    line-height: 28.8px;
    height: 28.8px;
  }
  th:nth-child(7),th:nth-child(8){
    padding: 14px 0px !important;
  }
}

.list-sim .type-number .checkcontainer span{
  height: 15px;
  width: 15px;
  top: 4px;
  left: 0px;
}

.list-sim .type-number .checkcontainer input:checked ~ .radiobtn:after{
  top: 4px;
  left: 2px;
  background-size: 11px 7.33px;
  background-repeat: no-repeat;
}

.list-sim .table th, .table td {
  vertical-align: middle;
  border-top: none;
  //padding: 14px 8px 14px 8px;
  padding: 0px;
  height: 50.4px;
}


.table-hover tbody tr:hover {
  background-color: #f3f3f3;
}
.list-sim{
  .custom-checkbox .custom-control-label::before {
    border-radius: 50px;
    background: #fffffF;
    border: 2px solid #b2b2b2;
  }

  .custom-checkbox .custom-control-input:checked ~ .custom-control-label::after {
    //background-image: url(../../../../templates/default/images/selected.png);
    //background-size: 12px 8px;
    background-image: unset;
  }

  .custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
    border: 4px solid #3478f7;
    background: #fffffF;
  }
}



.center_page {
  background-position: center;
  display: block;
  margin: 14px auto 13px auto;
}
.no-sim{
  text-align: left;
  .tutorial{
    span,a{
      color: #f73434;
      font-weight: bold;
    }
    h4 {
      font-weight: bold;
      font-size: 14px;
    }
    p{
      margin: 0;
      padding-left: 8px;
      position: relative;
      i{
        font-size: 4px;
        color: #999999;
        margin-bottom: 0px;
        position: absolute;    
        left: 0px;
        top: 50%;
        transform: translate(0px, -50%);
      }
    }
  }
  .title{
    font-size: 16px;
    text-transform: uppercase;
    background: #f73434;
    color: #ffffff;
    text-align: left;
    padding: 10px 15px;
    margin-bottom: 20px;
  }
  .des-no-sim{
    border-top: 1px solid #dee2e6;
    border-bottom: 1px solid #dee2e6;
    margin: 20px 0;
    padding: 10px 0;
  }

  .ex-no-sim{
    padding: 10px 0;
    h3,a{
      display: inline-block;
      color: #fff;
    }
    a{
      background: #3478f7;
      border-radius: 3px;
      padding: 7px 15px;
      float: right;
      font-size: 15px;
      i{
        margin-left: 10px;
      }
    }
    .pal-no-sim{
      background: #3478f7;
      padding: 7px 15px;
      font-size: 15px;
      text-transform: uppercase;
      font-weight: bold;
      margin:0;
      position: relative;
      left: -48px;
      padding-left: 48px;
      display: inline-block;
      color: #fff;
      &:before{
        position: absolute;
        content: '';
        left: 1px;
        bottom: -17px;
        width: 0;       
        height: 0;
        border-top: 17px solid #054fd9;
        border-left: 17px solid transparent;
      }
    }
  }
}


.numbersim2{
  .options{
    right: 0px !important;
    &:before{
      right: 62px !important;
    }
    &:after{
      right: 59px !important;
    }
  }
}
.numbersim3{
  .options{
    right: 0px !important;
  }
}
.numbersim4{
  .options{
    right: 0px !important;
    &:before{
      right: 29px !important;
    }
    &:after{
      right: 27px !important;
    }
  }
}
.numbersim5{
  .options{
    right: 0px !important;
    &:before{
      right: 64.5px !important;
    }
    &:after{
      right: 62px !important;
    }
  }
  .show-value{
    i.close{
      &:before{
        top: 2px !important;
        left: 5.5px;
      }
    }
  }
}


.p-dots{
  margin-bottom: 0px;
  display: inline-flex;
}
.img_dotss{
  margin-left: 10px;
  width: 16px;
  height: 11px;
  margin-top: 14px;
  display: block;
  transition: 0.3s;
  background: url("/templates/default/images/img_svg/sim_theo_nha_mang/bar_menu.svg");
  background-repeat: no-repeat;
}
.close-x-dots{
  margin-top: 8px;
  background: url("/templates/default/images/img_svg/sim_theo_nha_mang/Menu_close.svg");
  background-repeat: no-repeat;
  background-position: center;
}


.options-befa-all{
  &:before{
    right: 57px !important;
  }
  &:after{
    right: 55px !important;
  }
}

.options-befa-network{
  &:before{
    right: 57px !important;
  }
  &:after{
    right: 55px !important;
  }
}