.menu-top .search-icon {
  width: 288px; }
  .menu-top .search-icon .form-search {
    padding-top: 26px; }

.compare-sim .box-hea {
  padding: 45px 60px 30px;
  background: #ffffff;
  border-bottom: 2px solid #e0e0e0; }
  .compare-sim .box-hea .hea {
    font-size: 40px;
    font-family: Roboto-Medium;
    margin-bottom: 0px;
    text-transform: uppercase; }
  .compare-sim .box-hea .bri {
    font-size: 36px;
    font-family: Roboto-Regular; }
.compare-sim .table1 {
  background: #ffffff;
  width: 100%; }
  .compare-sim .table1 tr td {
    border-bottom: 2px solid #e0e0e0;
    width: 50%;
    float: left; }
    .compare-sim .table1 tr td .name {
      font-family: Roboto-Medium;
      font-size: 40px;
      margin-bottom: 10px;
      line-height: 35px; }
    .compare-sim .table1 tr td .type-tex {
      font-size: 36px;
      font-family: Roboto-Regular;
      margin-bottom: 10px;
      line-height: 35px; }
    .compare-sim .table1 tr td .custom-control-label:before {
      width: 42px;
      height: 42px;
      left: 385px;
      top: 50%;
      transform: translate(0px, -50%);
      border-radius: 10px; }
    .compare-sim .table1 tr td .custom-control-label:after {
      width: 42px;
      height: 42px;
      left: 385px;
      top: 50%;
      transform: translate(0px, -50%); }
  .compare-sim .table1 tr .td-first {
    padding: 55px 55px 55px 60px;
    border-right: 2px solid #e0e0e0; }
  .compare-sim .table1 tr .td-second {
    padding: 55px 60px 55px 55px; }
.compare-sim .box-hea-2 {
  background: #ffffff;
  text-align: center;
  padding: 40px 0px;
  width: 100%;
  border: none;
  border-bottom: 2px solid #e0e0e0; }
  .compare-sim .box-hea-2 p {
    font-family: Roboto-Medium;
    width: 505px;
    margin: 0 auto;
    font-size: 44px;
    background: #3478f7;
    line-height: 106px;
    border-radius: 100px;
    color: #ffffff; }
    .compare-sim .box-hea-2 p img {
      vertical-align: unset; }
.compare-sim .box-table {
  padding: 0px 28px;
  background: #ffffff; }
  .compare-sim .box-table .table2 {
    width: 100%; }
    .compare-sim .box-table .table2 .custom-checkbox .custom-control-input:checked ~ .custom-control-label::after {
      background-color: #3ad000; }
    .compare-sim .box-table .table2 tr {
      border-bottom: 2px solid #e0e0e0; }
      .compare-sim .box-table .table2 tr:last-child {
        border-bottom: none; }
      .compare-sim .box-table .table2 tr td {
        font-size: 36px;
        padding: 40px 0px;
        font-family: Roboto-Regular; }
        .compare-sim .box-table .table2 tr td p {
          margin-bottom: 0px; }
        .compare-sim .box-table .table2 tr td .custom-control-label:before {
          width: 42px;
          height: 42px;
          left: 32px;
          top: 50%;
          transform: translate(0px, -50%); }
        .compare-sim .box-table .table2 tr td .custom-control-label:after {
          width: 42px;
          height: 42px;
          left: 32px;
          top: 50%;
          transform: translate(0px, -50%); }
      .compare-sim .box-table .table2 tr .td-first {
        width: 35%;
        padding-left: 32px; }
        .compare-sim .box-table .table2 tr .td-first .name {
          font-family: Roboto-Medium;
          font-size: 38px; }
      .compare-sim .box-table .table2 tr .td-second {
        width: 21%; }
      .compare-sim .box-table .table2 tr .td-thirt {
        width: 34%; }
        .compare-sim .box-table .table2 tr .td-thirt .name {
          font-family: Roboto-Medium; }
      .compare-sim .box-table .table2 tr .td-four {
        width: 10%; }
.compare-sim .sub-form {
  padding: 65px 60px 70px;
  text-align: center;
  background: #ffffff;
  border-top: 2px solid #e0e0e0; }
  .compare-sim .sub-form button {
    font-size: 40px;
    font-family: Roboto-Medium;
    width: 100%;
    line-height: 106px;
    text-transform: uppercase;
    border-radius: 10px; }

.no_compare {
  background: #6c757d !important; }

/*# sourceMappingURL=simsosanh.css.map */
