.form-promo{
  .color_yell{
    color: #ffd500;
  }
  .detail-promo{
    background: url("../images/bg_register_2.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    //background-attachment: fixed;
    //max-height: 1234px;
    //overflow-y: scroll;
  }
  .show-infor{
    //position: absolute;
    //display: flex;
    top: 20px;
    padding: 20px 60px;
    //.left,.right{
    //  width: 50%;     
    //}
    .name-regis{
      font-size: 60px;
      font-family: Roboto-Medium;
      color: #fffffF;
    }
    .price-regis{
      font-size: 60px;
    }

    .right{
      color: #fffffF;
      ul{
        li{
          font-size: 40px;
          font-family: Roboto-Medium;
          line-height: 70px;
          padding-left: 50px;
          position: relative;
          list-style-type: none;
          &:before{
            content: url("/templates/mobile/images/img_svg/trang_chu/menu_phai/check.svg");
            width: 29px;
            height: 23px;
            position: absolute;
            left: 0px;
            top: 23px;
          }
        }
      }
    }

  }
  .bottom-send{
    position: relative;
    bottom: 0px;
    height: 200px;
    background: rgba(0,0,0,.4);
    width: 100%;
  }
  .method-regis{
    font-size: 40px;
    font-family: Roboto-Medium;
    color: #fffffF;
    width: 60%;
    height: 200px;
    padding: 20px 0px 0px 60px;
    p{
      line-height: 70px;
    }
  }
}