.address-default {
	max-width: 980px;
	margin   : 0 auto;
	.contact-ndt {
		background: url("../images/bg_intro_31.jpg") center no-repeat;
		padding   : 15px 30px;
		margin    : 10px 0;
	}
	.contact-location {
		h3 {
			font-size  : 20px;
			font-weight: bold;
			color      : #ffffff;
			padding    : 10px;
		}
		h4 {
			font-size  : 16px;
			color      : #ffffff;
			padding    : 10px 10px 10px 30px;
			font-weight: bold;
			position   : relative;
			&:before {
				position  : absolute;
				left      : 5px;
				top       : 6px;
				content   : "";
				width     : 20px;
				height    : 20px;
				background: url("../images/map.png") center no-repeat;
			}
		}
		p {
			margin   : 0;
			padding  : 5px;
			color    : #ffffff;
			font-size: 14px;
		}
	}
	.commitment {
		h3 {
			font-size     : 20px;
			font-weight   : bold;
			color         : #ffffff;
			text-align    : center;
			text-transform: uppercase;
			padding       : 10px;
		}
		h4 {
			font-size  : 16px;
			text-align : center;
			color      : #ffffff;
			padding    : 10px;
			font-weight: bold;
		}
		p {
			margin   : 0;
			padding  : 7px;
			color    : #ffffff;
			position : relative;
			font-size: 16px;
			&:before {
				position  : absolute;
				left      : -15px;
				top       : 5px;
				content   : "";
				width     : 20px;
				height    : 20px;
				background: url("../images/danhmuctrang.png") center no-repeat;
			}
		}
	}
}
